*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: violet;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    display: block;
    margin: 150px auto 0;
    font-size: 30px;
    font-weight: lighter;
    color: #333;
    padding: 25px 80px;
    background: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 6px rgb(82, 78, 78);
}
/* .btn:hover {
    box-shadow: 0 4px #efa424;
    top: 2px;
} */
.btn:active {
    box-shadow: 0 0 rgb(82, 78, 78);
    top: 6px;
}